@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>İndirim Teklif Sayfası</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" name="BrandId" asp-for="BrandId" />
                        <label for="BrandName">Marka Adı</label>
                        <input type="text" class="form-control" asp-for="BrandName" />
                        <br />
                        <label for="ImageUrl">Marke Resim Yolu</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Marka Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>