@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Ekleme Sayfası</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label for="ProductName">Ürün Adı</label>
                        <input type="text" class="form-control" asp-for="ProductName" />
                        <br />
                        <label for="ProductPrice">Ürün Fiyatı</label>
                        <input type="text" class="form-control" asp-for="ProductPrice" />
                        <br />
                        <label for="ProductImageUrl">Ürün Görseli</label>
                        <input type="text" class="form-control" asp-for="ProductImageUrl" />
                        <br />
                        <label for="CategoryId">Ürün Kategorisi</label>
						@Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories,  new { @class = "form-control" })
                        <br />
                        <label for="ProductDescription">Ürün Açıklaması</label>
						<textarea class="form-control" asp-for="ProductDescription"></textarea>
                        <br />
                        <button class="btn btn-primary">Ürün Ekle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
