@model MultiShop.Images.UI.DAL.Entities.ImageDrive

@{
	Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
	<br />
	<h2 class="alert alert-info">Google Storage Resim Yükleme Sayfası</h2>
	<form method="post" enctype="multipart/form-data">
		<label>Görsel Adı</label>
		<input type="text" class="form-control border" name="Name" />
		<br />
		<label>Dosya Adı</label>
		<input type="file" class="form-control border" name="Photo" />
		<br />
		@if (!String.IsNullOrWhiteSpace(Model.SignedUrl))
		{
			<div class="md-col-2">
				@Html.DisplayNameFor(model => model.Photo)
			</div>
			<div cite="md-col-10">
				<img src="@Model.SignedUrl" class="figure-img img-fluid rounded" alt="@Model.SavedFileName">
			</div>
		}

		<input name="SavedUrl" type="hidden" class="form-control" />
		<input name="SavedFileName" type="hidden" class="form-control" />
		<button class="btn btn-outline-info">Hakemi Kaydet</button>
		<a href="/Admin/Referee" class="btn btn-outline-danger">Geri Dön</a>

	</form>


	<div>
		<a href="Index">Back to List</a>
	</div>
</div>