@model UpdateCommentDto
@{
    ViewData["Title"] = "UpdateComment";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yorum Güncelleme Sayfası</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden"  asp-for="UserCommentId" />
                        <input type="text"  asp-for="ProductId" />
                        <br />
                        <label for="CategoryName">Kullanıcı Adı</label>
                        <input type="text" class="form-control" asp-for="NameSurname" />
                        <br />
                        <label for="CommentDetail">Yorum</label>
                        <textarea class="form-control" asp-for="CommentDetail" rows="4"></textarea>
                        <br />
                        <label for="CreatedDate">Tarih</label>
                        <input type="date" class="form-control" asp-for="CreatedDate" />
                        <br />
                        <label for="ImageUrl">Kullanıcı Resmi</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <br />
                        <label for="Raiting">Kullanıcı Puanı</label>
                        <input type="text" class="form-control" asp-for="Raiting" />
                        <br />
                        <button class="btn btn-primary">Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
